.table_dark {
    text-align:center;
    font-size: 14px;
    width: 640px;
    border-collapse: collapse;
    background: #252F48;

    margin: auto;
}
.table_dark th {
    color: #ffe202;
    border-bottom: 15px solid #37B5A5;
    padding: 12px 17px;
    border-right:1px solid #6237b5;
    text-align:center;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 7px solid #dee2e6;
    text-align:center;
}
.table_dark td {
    color: #CAD4D6;
    border-bottom: 1px solid #37B5A5;
    border-right:1px solid #37B5A5;
    padding: 7px 17px;
    text-align:center;
}
.table_dark tr:last-child td {
    border-bottom: none;
    text-align:center;

}
.table_dark td:last-child {
    border-right: none;
    text-align:center;
}

a {
    color: #06dbff;
}
a:hover {
    color: #31ff00;
    text-decoration: underline;
}

.table_dark tr:hover td {
    color: #ff06de;
}



/*end reset*/
html, body{
    font-size: 100%;
    background: url(../images/banner7.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    font-family: 'Viga', sans-serif;
}
h1,h2,h3,h4,h5,h6,a,p{
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover,body a{
    text-decoration:none;
}

.main{
    text-align:center;
    font-weight: 900;
}
.nav_w3l{
    padding:3em 0 0;
    font-size: 1.5rem;
}
.nav_w3l ul li{
    display:inline-block;
    margin:0 5px;
}
.nav_w3l h3{
    color:#61DDF0;
    padding: 1em 5px 0;
    margin: 1em 0 1em;
}
.nav_w3l ul li a{
    font-size:1em;
    color:#fbff00;
    padding:10px 20px;
    text-decoration:none;
}
.nav_w3l ul li.active a{
    background:#fff;
    color:#212121;
}
/* Sweep To Bottom */
.hvr-sweep-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#61DDF0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
    color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.main h1{
    font-size: 13em;
    color: #fff;
    margin:0.4em 0 0;
    line-height: 1;
}
.main h2{
    font-size: 1em;
    color: #fff;
    text-transform: capitalize;
}
.main h4{
    color: #61DDF0;
    padding:1em 5px 0;
    margin:2em 0 1em;
}
.more_w3ls {
    margin:3em 0 5em;
}
.more_w3ls a{
    padding: 8px 70px;
    background:#61DDF0;
    text-decoration: none;
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -o-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
}
.more_w3ls a:hover{
    background:#fff;
    color:#212121;
}

.send {
    margin:2em 0 5em;
}
.send a{
    padding: 8px 70px;
    background:#61DDF0;
    text-decoration: none;
    color: #212121;
    font-size: 1em;
    text-transform: uppercase;
    transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -moz-transition:.5s ease-in;
    -o-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
}
.send a:hover {
    background: #fff;
    color: #212121;
}